@model IEnumerable<storev2.Models.ExecutiveInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.js"></script>

<script type="text/javascript">

    function EditExecutive(id) {
        debugger;
        $.ajax({
            type: "GET",
            url: "/Executive/Edit/" + id,
            contentType: false,
            processData: false,
            data: "",
            beforeSend: function () {
                debugger;
                $("#divEditExecutivePartial").html("Loading");
            },
            success: function (results) {
                debugger;
                $("#divEditExecutivePartial").html(results);
            }
        });
    }
    function DeleteExecutive(id) {
        debugger;
        var isDelete = confirm("Are you sure to delete record");
        if (isDelete == true) {
            debugger;
            $.ajax({
                type: "GET",
                url: "/Executive/Delete/" + id,
                contentType: false,
                processData: false,
                data: "",
                success: function (results) {
                    debugger;
                    if (results == "Success") {
                        alert("Data has been deleted");
                    }
                    // getList();
                    var oTable = $("#tblExecutiveList").dataTable();
                    oTable.fnFilter("0", "0");
                }
            });
        }

    }
    $(document).ready(function () {


        //getList();
        $("#btnAddExecutive").click(function () {
            debugger;
            $.ajax({
                type: "GET",
                url: "/Executive/Create/",
                contentType: false,
                processData: false,
                data: "",
                beforeSend: function () {
                    debugger;
                    $("#divAddExecutivePartial").html("Loading");
                },
                success: function (results) {
                    debugger;
                    $("#divAddExecutivePartial").html(results);

                }
            });

        });
        $("#btnSaveExecutive").click(function () {

            debugger;
            var frm = $("#frmAddExecutive");
            debugger;
            if (frm.valid()) {
                debugger;
                $.ajax({
                    url: "/Executive/Create/",
                    // url: frm.attr('action'),
                    type: 'post',
                    data: frm.serialize(),
                    success: function (data, textStatus, xhr) {
                        $("#divAddExecutiveMsg").html("<div class='alert alert-success' role='alert'>Executive Entry has been Saved!</div>");
                        $("#divAddExecutiveMsg").show();
                        $("#divAddExecutiveMsg").delay(2000).slideUp(200, function () {
                            $("#divAddExecutiveMsg").hide();
                            $("#AddExecutiveModal").modal("hide");
                            // getList();
                            var oTable = $("#tblExecutiveList").dataTable();
                            oTable.fnFilter("0", "0");

                        });
                    },
                    error: function (data) {
                        $("#divAddExecutiveMsg").html("<div class='alert alert-danger' role='alert'><strong>Error!</strong> Server Error Occur!</div>");
                        $("#divAddExecutiveMsg").show();
                        $("#divAddExecutiveMsg").delay(2000).slideUp(200, function () {
                            $("#divAddExecutiveMsg").hide();
                        });
                    }

                });
            }
        });
        $("#btnUpdateExecutive").click(function () {

            debugger;
            var frm = $("#frmEditExecutive");
            debugger;
            if (frm.valid()) {
                debugger;
                $.ajax({
                    ///url: "/School/edit/",
                    url: frm.attr('action'),
                    type: 'post',
                    data: frm.serialize(),
                    success: function (data, textStatus, xhr) {
                        $("#divEditExecutiveMsg").html("<div class='alert alert-success' role='alert'>Executive Entry has been Update!</div>");
                        $("#divEditExecutiveMsg").show();
                        $("#divEditExecutiveMsg").delay(2000).slideUp(200, function () {
                            $("#divEditExecutiveMsg").hide();
                            $("#EditExecutiveModal").modal("hide");
                            // getList();
                            var oTable = $("#tblExecutiveList").dataTable();
                            oTable.fnFilter("0", "0");

                        });
                    },
                    error: function (data) {
                        $("#divEditExecutiveMsg").html("<div class='alert alert-danger' role='alert'><strong>Error!</strong> Server Error Occur!</div>");
                        $("#divEditExecutiveMsg").show();
                        $("#divEditExecutiveMsg").delay(2000).slideUp(200, function () {
                            $("#divEditExecutiveMsg").hide();
                        });
                    }

                });
            }
        });



    });
</script>




<div style="padding-top:50px"></div>
<div>
    <input type="button" id="btnAddExecutive" class="btn btn-primary" data-toggle="modal" data-target="#AddExecutiveModal" value="Add Executive" />
</div>
<div class="row" style="padding-top:10px;padding-bottom:10px">

    <div class="col-md-3">
        <input type="text" name="searchExecutiveAddress" id="txtSearchExecutiveAddress" class="form-control" placeholder="Search By Executive Address" />
    </div>
    
    
    <div class="col-md-3">
        <input type="button" id="btnSearch" class="btn btn-primary" value="Search" />
    </div>


</div>
<div class="table-responsive" id="divList">

    @Html.Partial("ExecutiveList")


</div>
<div class="modal fade" id="AddExecutiveModal" tabindex="-1" role="dialog" backdrop="true" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Add Executive</h4>
            </div>
            <div class="modal-body">
                <div id="divAddExecutivePartial">

                </div>
                <div id="divAddExecutiveMsg" style="display:none;"></div>
                <div class="modal-footer">
                    <button type="button" id="btnSaveExecutive" class="btn btn-primary">Submit</button>
                    <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EditExecutiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">Edit Executive</h4>
            </div>
            <div class="modal-body">
                <div id="divEditExecutivePartial">

                </div>
                <div id="divEditExecutiveMsg" style="display:none;"></div>
                <div class="modal-footer">
                    <button type="button" id="btnUpdateExecutive" class="btn btn-primary">Submit</button>
                    <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
